.all {
    background-color: #99c2eb;
    font-family: Comic Sans Ms;
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: #99c2eb;
    font-family: Comic Sans Ms;
}

.lower {
    text-align: center;
}
